@media print,
(max-width: 1439px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 15px;
        --font_size_title: 52px;
        --font_size_title_small: 40px;
    }


    .block
    {
        margin-bottom: 88px;
    }


    .cont.big
    {
        padding: 0 40px;
    }


    .swiper-button-next,
    .swiper-button-prev
    {
        width: 48px;
        height: 48px;
    }


    .swiper-button-next .icon,
    .swiper-button-prev .icon
    {
        width: 20px;
        height: 20px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .desc
    {
        font-size: 20px;

        width: 500px;
    }



    /*----------
        Tabs
    ----------*/
    .tabs
    {
        margin-bottom: 32px;
    }


    .tabs > *
    {
        padding: 20px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding: 16px 20px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .checkbox
    {
        font-size: 13px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .bg
    {
        padding: 200px 0 140px;

        border-radius: 36px;
    }


    .first_section .data
    {
        width: 560px;

        gap: 24px;
    }


    .first_section .title
    {
        font-size: 92px;
        line-height: 100px;
    }


    .first_section .desc
    {
        font-size: 20px;
    }


    .first_section .image
    {
        right: 20px;
        bottom: 48px;

        width: 580px;
        height: 531px;
    }


    .first_section .image .img1
    {
        left: 64px;

        width: 360px;
    }

    .first_section .image .img2
    {
        top: 40px;

        width: 152px;
    }

    .first_section .image .img3
    {
        top: 140px;

        width: 204px;
    }



    /*-----------
        Logos
    -----------*/
    .logos .bg
    {
        padding: 24px;

        border-radius: 36px;
    }


    .logos .swiper-slide
    {
        width: 168px;
    }


    .logos .item
    {
        height: 100px;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages .item
    {
        border-radius: 20px;

        gap: 24px;
    }



    /*----------
        Team
    ----------*/
    .team .cont
    {
        gap: 40px;
    }


    .team .boss .data
    {
        width: calc(100% - 424px);
        padding: 48px;

        border-radius: 24px;
    }


    .team .boss .text
    {
        font-size: 20px;
    }


    .team .boss .name
    {
        font-size: 28px;

        margin-top: 60px;
    }


    .team .boss .photo
    {
        width: 400px;
        min-height: 420px;

        border-radius: 24px;
    }



    .team .person,
    .team .person .photo
    {
        border-radius: 24px;
    }


    .team .person .name
    {
        font-size: 20px;
    }


    .team .person .post
    {
        font-size: 13px;
    }


    .team .swiper .controls
    {
        width: 132px;
        margin-top: 40px;
    }



    /*------------
        Events
    ------------*/
    .events .event,
    .events .event .thumb
    {
        border-radius: 24px;
    }


    .events .event .info
    {
        padding: 24px;
    }


    .events .event .name
    {
        font-size: 28px;
    }


    .events .swiper .controls
    {
        width: 132px;
        margin-top: 40px;
    }



    /*-----------------
        Cooperation
    -----------------*/
    .cooperation .action_form
    {
        padding: 48px;

        border-radius: 36px;
    }


    .cooperation .action_form .block_head
    {
        width: 484px;
    }



    .cooperation .manager
    {
        border-radius: 36px;
    }


    .cooperation .manager .photo
    {
        width: 200px;
        height: 200px;

        border-radius: 24px;
    }


    .cooperation .manager .name
    {
        font-size: 20px;
    }



    /*------------
        Career
    ------------*/
    .career .block_head
    {
        width: 484px;
    }


    .career .vacancy
    {
        padding: 24px;

        border-radius: 24px;
    }


    .career .vacancy .name
    {
        font-size: 20px;
    }


    .career .vacancy .desc
    {
        font-size: 16px;
    }



    /*------------
        Footer
    ------------*/
    footer .info
    {
        padding: 24px;
    }


    footer .logo img
    {
        width: 80px;
    }


    footer .central_office
    {
        width: calc(100% - 104px);
    }


    footer .central_office .address
    {
        font-size: 20px;
    }


    footer .socials a
    {
        height: 120px;
    }


    footer .shops .city
    {
        padding: 24px;
    }


    footer .shops .city .addresses,
    footer .shops .city .address
    {
        font-size: 16px;
    }


    footer .text
    {
        margin-top: 100px;
    }


    footer .creator
    {
        margin-top: 48px;
    }
}
